TTS
spacy==3.8.7
transformers==4.33.0
torch==2.5.1 --index-url https://download.pytorch.org/whl/cu126
torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu126
aixblock-sdk==0.0.5
aixblock-tools
aixblock-ml
huggingface_hub
rich
apscheduler
fastapi
uvicorn
mcp
colorama
lxml
appdirs
loguru

# prometheus-client
# tensorboardX
# gradio
# redis
# rq
# flask
# flask-cors
# Werkzeug
# gunicorn
# appdirs
# gitpython
# opencv-python
# numpy
# grafana-api
# trl
# peft
# scipy
# bitsandbytes
# nvidia-ml-py
# wandb
# flask_swagger_ui
# pyyaml
# gradio_log
# tf-keras
# about-time
